@use '../../styles/constants';


.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  gap: 0;

  margin-right: -250px;
  margin-bottom: 60px;

  z-index: 2;

  height: 100%;

  .button {
    border: none;
    padding: 8px 16px;
    background-color: white;
    cursor: pointer;

    &:hover {
      background-color: constants.$light-grey;
    }

    &--prev {
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &--next {
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
}
