@use 'reseter.scss';
@use 'constants.scss';
@use 'fonts.scss';

#app {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: red;
}

.testimonials {
  height: 100%;
  width: 100%;
  background-color: blue;
}
