@use '../../styles/constants';
@use '../../styles/fonts';

.testimonials {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url('../../images/pattern-curve.svg');
  background-size: fill;
  background-repeat: no-repeat;
  background-position: bottom left;

  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}